@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddBrand</h2>
<form method="post">
    <p>
        <label for="tb1">Название</label><input id="name" name="name" class="ab" type="text" size="40">
    </p>
    <p>
        <button type="submit">создать</button>
    </p>
</form>

