@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comp</h2>
<p>
    <label>Название: @ViewBag.Name</label>
</p>
<p>
    <label>Телефон: @ViewBag.Numb</label>
</p>
<p>
    <label>Адрес: @ViewBag.Contact</label>
</p>
